*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    transition:  1s ease;
}
body{
    background-image: url(photo/ecommerce.jpg);
    /*background-image: linear-gradient(45deg,#00ff1a,#eaff00);*/
    background-attachment: fixed;
    background-size: cover;
    perspective: 1000px;
}
.box{
    position: absolute;
    width: 350px;
    height: 500px;
    background: none;
    left: calc(50% - 175px);
    top: calc(50% - 250px);
    transform-style: preserve-3d;
    /*transform: rotateY(-130deg);*/
}
.box div{
    width: 350px;
    height: 500px;
    position: absolute;
    background-image: radial-gradient(#fff,#f3ffbe);
    box-shadow: 0px 0px 5px #abff44, 0px 0px 30px #ff4444,
        inset 0px 0px 5px #44f3ff, inset 0px 0px 30px #ff4444;
        border:3px solid #f0ff7d;
}
.box div:nth-child(5){
    height: 350px;
    box-shadow: 0px 0px 10px #160081, 0px 0px 30px #810f00;
}
.a{transform: rotateY(0deg) translateZ(175px);}
.b{transform: rotateY(90deg) translateZ(175px);}
.c{transform: rotateY(180deg) translateZ(175px);}
.d{transform: rotateY(270deg) translateZ(175px);}
.e{transform: rotateX(-90deg) translateZ(325px);}
.a{
    margin-top: .5cm;
}
.a label{
    position: relative;
    width: 200px;
    left: 65px;
    top:170px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    margin: 20px 0px;
    text-align: center;
    display: block;
    background-image: linear-gradient(45deg, #ff0059, #006aff);
    border-radius: 25px;
    box-shadow: 0px 0px 5px #ff44f8, 0px 0px 30px #63ff44;
    cursor: pointer;
}
#sup, #btn{
    background-image: linear-gradient(45deg,#73ff00,#00fff7);
    color: white;
    cursor: pointer;
}
#btn:focus{
    width: calc(100% -80px);
    left: 40px;
}
#b2:focus{
    
    width: calc(100% -80px);
    left: 40px;

}
.title{
    width: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #8d000e;
    text-shadow: 0px 0px 20px #00ffd9;
    position: absolute;
}
.frm input{
    position: relative;
    width: calc(100% - 80px);
    left: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    top: 60px;
    background: none;
    outline: none;
    border: none;
    border-radius: 25px;
    box-shadow:  0px 0px 5px #ff44f8, 0px ,0px ,30px #ff44f8;
    margin: 20px 0px;
    font-size: 16px;
}
.frm input:focus
{
    width: calc(100% - 40px);
    left: 20px;
    background: #cbfffb;
    box-shadow: 0px 0px 5px #000, 0px 0px 30px #c9bc00;
}
#btm{
    position: absolute;
    bottom: 20px;
    font-size: 20px;
    color: #006c72;
    text-align: center;
    width: 100%;
    cursor: pointer;
}
#chk1:checked ~ .box{transform: rotateY(-180deg);}
#chk2:checked ~ .box{transform: rotateY(-90deg);}